; Supervisor config file to run an app
; Copy this file into the supervisor `conf.d/` folder
; Refer to https://supervisord.org/configuration.html#program-x-section-settings and
; https://supervisord.org/configuration.html#group-x-section-settings for detail

; `[APPNAME]` and `<APPNAME>` will be the name of this app in supervisor
; Replace them in the name of this file and the `program` section header below
; The example assumes the app is in `$HOME/Projects/<APPNAME>/` and starts by
; running `Startup.sh` with Bash

[program:<APPNAME>]
command=/usr/bin/env bash "%(ENV_HOME)s/Projects/%(program_name)s/Startup.sh"
directory=%(ENV_HOME)s/Projects/%(program_name)s
process_name=%(program_name)s
autostart=true
startsecs=5
startretries=5
autorestart=unexpected
stdout_logfile=%(here)s/logs/%(program_name)s_out.log
stdout_logfile_maxbytes=2MB
stdout_logfile_backups=2
stderr_logfile=%(here)s/logs/%(program_name)s_err.log
stderr_logfile_maxbytes=5MB
stderr_logfile_backups=2
